@model ComicBookGallery.Models.ComicBook 
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = Model.DisplayText;


    /*var seriesTitle = "The Amazing Spider-man";
    var issueNumber = 700;
    var description = "<p>Final issue! Witness the final hours of doctor octopus life and his one, last , great act of revange!" +
                "Even if Spider ma  n survives...<strong>will Peter Parker?</strong></p>";
    var artists = new string[]
    {
        "Script:Dan Slott",
        "Pencils : Humberto Ramos",
        "Inks :Victor Olazaba",
        "Colors : Edger Delgado",
        "Letters : Chris Eliopoulos"
    };*/ //Now move data to controller.
}

<h1>@Model.SeriesTitle</h1>
<h2>Issue #@Model.IssueNumber</h2>
<h5>Description:</h5>
<div>@Html.Raw(Model.DescriptionHtml)</div>

@if (Model.Artists.Length > 0)
{
    <h5>Artist:</h5>
    <div>
        <ul>
            @foreach (var artist in Model.Artists)
            {
                <li>@artist.Role : @artist.Name</li>
            }
        </ul>
    </div>
}

