@{
    Layout = null;
    var seriesTitle = "The Amazing Spider-man";
    var issueNumber = 700;
    var description = "<p>Final issue! Witness the final hours of doctor octopus life and his one, last , great act of revange!" +
                "Even if Spider ma  n survives...<strong>will Peter Parker?</strong></p>";
    var artist = new string[]
    {
        "Script:Dan Slott",
        "Pencils : Humberto Ramos",
        "Inks :Victor Olazaba",
        "Colors : Edger Delgado",
        "Letters : Chris Eliopoulos"
    };
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <h1>@seriesTitle</h1>
        <h2>Issue #@issueNumber</h2>
        <h5>Description:</h5>
        <div>@Html.Raw(description)</div>

        <h5>Artist:</h5>
        <div>@artist</div>


    </div>
</body>
</html>
